{% extends group_base|default:"site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}repositories{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}django_vcs/css/django_vcs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}django_vcs/css/diff.css" />
{% endblock %}

{% block subnav %}
    <ul>
        {% if repo %}
            <li><a href="{% groupurl code_browser group slug=repo.slug path="" %} ">{% trans "Browse" %}</a></li>
            <li><a href="{% groupurl recent_commits group slug=repo.slug %}">{% trans "Commits" %}</a></li>
        {% endif %}
        <li><a href="{% groupurl add_repo group %}">{% trans "Add Repository" %}</a></li>
        <li><a href="{% groupurl repo_list group %}">{% trans "All Repositories" %}</a></li>
    </ul>
{% endblock %}