{% extends "django_vcs/base.html" %}

{% load i18n %}
{% load udiff %}

{% block head_title %}
    Details about commit {{ commit.commit_id }} on {{ repo.name }}
{% endblock %}

{% block extra_head %}
    {% diff_css %}
{% endblock %}

{% block body %}
    <h1>
        Details about commit {{ commit.commit_id }} on {{ repo.name }}
    </h1>
    <ul>
        <li>{% trans "Committed by" %}: {{ commit.author }}</li>
        <li>{% trans "Committed at" %}: {{ commit.time }}</li>
        <li>{% trans "Commit message" %}: {{ commit.message }}</li>
        <li>{% trans "Affected files" %}:
            <ul>
                {% for file in commit.files %}
                    <li>
                        <a href="{% url code_browser slug=repo.slug path=file %}?rev={{ commit.commit_id }}">
                            {{ file }}
                        <a/>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    {{ commit.diff|render_diff }}
{% endblock %}
