{% extends "django_vcs/base.html" %}

{% load i18n %}

{% block head_title %}
	{{ path }} {% trans "in" %} {{ repo.name }}
{% endblock %}

{% block body %}
    <h2>{% trans "Content of" %} {{ path }}</h2>
    <ul class="files">
        {% for path, folder in folders %}
            <li>
                <a href="{% url code_browser slug=repo.slug path=path %}/">
                    {{ folder }}
                </a>
            </li>
        {% endfor %}
        {% for path, file in files %}
            <li>
                <a href="{% url code_browser slug=repo.slug path=path %}">
                    {{ file }}
                </a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}
