{% extends "django_vcs/base.html" %}

{% load i18n %}
{% load group_tags %}

{% block head_title %}
    {% trans "Recent commits for" %} {{ repo.name }}
{% endblock %}

{% block body %}
    <h2>{% trans "Recent commits for" %} {{ repo.name }}</h2>
    <div id="commit-list">
        {% for commit in commits %}
            <div class="commit_block">
                <dl>
                    <dt>{{ commit.message|truncatewords:10 }}</dt>
                    <dd>
                        <div>
                            <a href="{% groupurl commit_detail group slug=repo.slug commit_id=commit.commit_id  %}">
                                {{ commit.commit_id }}
                            </a>
                        </div>
                        <div>
                            <em>{{ commit.author }}</em> {{ commit.item }}
                        </div>
                    </dd>

                </dl>
            </div>
        {% endfor %}
    </div>
{% endblock %}
