{% extends "django_vcs/base.html" %}

{% load i18n %}

{% block head_title %}Repository List{% endblock %}

{% block body %}
        <h1>{% trans "Repositories" %}</h1>
        <dl class="repo_list">
        {% for repo in repos %}
            <dt>
                <a href="{{ repo.get_absolute_url }}">{{ repo.name }}</a>
            </dt>
            <dd>
                {% with repo.get_recent_commits.0 as commit %}
                    <div class="message">{{ commit.message }}</div>
                    <div class="time">{{ commit.time }}</div>
                {% endwith %}
                <div class="type">{{ repo.get_repository_type_display }}</div>
                
            </dd>
        {% endfor %}
        </dl>
{% endblock %}
